/*id = # (style a single element)*/
/*class = . (style */
.home {
    border: 1px solid grey;
    padding: 10px;
}
.name {
    background: #2EAEAE;
    padding-top: 10px;
    padding-bottom: 11px;
    
}
.bio {
    background-color: rgb(212, 222, 236);
    border: 1px solid grey;
    display: block;
    }

.nav {
    float: right;}

body {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.788);}
  
.img {
    width: 15%;
    height: 15%;
    border: 1px solid grey;
}

.leftFloat {
    float: left;
}

.rightFloat {
    float: right;
}