/*id = # (HIGH priority - style a single element, renders once)*/
/*class = . (LOW priority - style as many times as you like*/
body {
    background-size: contain;
}
header {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 400px;
    padding-right: 500px;
    border-bottom: 1px solid grey;
    z-index: 1;    
}

#topspacer {
    padding: 10px 0px 10px 0px;
}

#btmspacer {
    padding: 20px 0px 20px 0px;
}

#background {
    background-image: url("../images/whiteMarble.jpg")
}

#backgroundColor {
    background-color: rgb(95, 105, 105);
    color: whitesmoke;
}

#footertxt {
    text-align: center;
}

.name {
    background: #4aaaa5;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: 600;
    position: absolute;
}

.nav {
    float: right;
    position: absolute;
    padding-left: 815px;
    padding-top: 17px;
    text-decoration: none;
}

.bio {
    background-color: whitesmoke;
    border: 1px solid grey;
    position: relative;
    width: 960px;
    margin-top: 0px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.info {
    float: right;
    position: absolute;
    padding-left: 5px;
    margin-left: 150px;
    line-height: 1.25em;
}

.info2 {
    
    position: relative;
    line-height: 1.25em;
    display: inline-block;
}

footer {
    border-top: 7px solid #4aaaa5;
    padding-top: 20px;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
    color: grey;
}

h2 {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    color: #4aaaa5;
}

h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    
}

h4 {
    font-weight: 600;
    color:#4aaaa5;
}
body {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.788);
}
  
.img {
    width: 15%;
    height: 15%;
    padding-bottom: 10px;
}

.headshot {
    float: left;
}

.description {
    float: right;
    position: absolute;
}

.txtadjust {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}












