/*id = # (style a single element)*/
/*class = . (style */
header {
    border-left-width: 400px;
    border-right-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 400px;
    padding-right: 400px;    
}
.name {
    background: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 11px;
    
}
.bio {
    background-color: rgb(212, 222, 236);
    border: 0px solid grey;
    position: relative;
    width: 960px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.info {
    float: right;
    position: absolute;
    padding-left: 158px;
}

.nav {
    float: right;
}

body {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.788);
}
  
.img {
    width: 15%;
    height: 15%;
    border: 0px solid grey;
}

.headshot {
    float: left;
    display: inline-block;
}

.description {
    float: right;
    position: absolute;
}